{% extends 'gsp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}
{% block body_block %}
	<div class = "cardunit">
	<h1>The team behind GetSetPet</h1>
	<p>We like pets.<br /><br /><br />
	A group of high flying, city slickers setting out to provide 
	a pet rating service to the people of the West of Scotland</p>
	
	<p>Introducing the Team!<br /><br /><br />


	
	
	<div class = "cardunit">
			<div class = "smallcard" id = "myBtn">
				<div class = "smallpet">
					<img src="{% static 'images/team/Craig.jpg' %}"
					alt="Picture of Craig">
					<h1>Craig!</h1>
					<br>
					<h4>CSS</h4>
					<br>
					<div class = "rating">
					<img src="{% static 'images/team/Andrew.jpg' %}" 
						alt="Picture of Andrew">
					</div>
					<h1>Andrew!</h1>
					<br>
					<h4>Deployment</h4>
					<br>
					<div class = "rating">
					<img src="{% static 'images/team/Neilio.jpg' %}" 
						alt="Picture of Andrew">
					</div>
					<h1>Neil!</h1>
					<br>
					<h4>Backend</h4>
					<br>
					<div class = "rating">
					</div>
					<img src="{% static 'images/team/lucy.jpg' %}"
					alt="Picture of Lucy">
					</div>
					<h1>Lucy!</h1>
					<br>
					<h4>Middleware</h4>
					<br>
					<div class = "rating">
			
			</div>
				</div>

		</div>

		</div>
		
{% endblock %}




