<!DOCTYPE html>
{% extends 'gsp/base.html' %}
{% load staticfiles %}

{% block title_block %}
<h1 style="color:black;">
	{{ category.name }}
</h1>
{% endblock %}

{% block body_block %}
	{% if category %}
		{% if uploads %}
			<ul>
			<h1 style="color:black;">
			{% for upload in uploads %}
			<h1 style="color:black;">
				<img src="{{ MEDIA_URL }}{{ upload.picture }}" alt = "Picture of "{{ upload.name }}</li>
			{% endfor %}
			</h1>
			</ul>
		{% else %}
			<strong>No uploads currently in category.</strong>
		{% endif %}
	{% else %}
		The specified category does not exist!
	{% endif %}
{% endblock %}