<!DOCTYPE html>
{% extends 'gsp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Get Set Pet
{% endblock %}

{% block body_block %}
	<div class = "categorySection">
			<h1> Top Rated </h1>
		<br>
			<h3>Look at all the pets! Choose One!</h3>
		</div>
	<div class = "cardunit">
			{% if categories %}
			{% for category in categories %}

			<div class = "smallcard" id = "myBtn">
						<div class="overlay">
							<h1><a href="/gsp/category/{{ category.slug }}"style="color:white;">{{ category.name }}</h1></a>
				</div>
				<div class = "smallpet">
					<a href="/gsp/category/{{ category.slug }}">
					<img src="{{ MEDIA_URL }}{{ category.img }}"
						alt = "Picture of "{{ category.name }} href = "/gsp/category/{{ category.slug }}">
					</a>
				</div>
			</div>

				{% endfor %}
			</div>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}

		</div>
	</div>
{% endblock %}
