<!DOCTYPE html> 
{% extends 'gsp/base.html' %}
{% load staticfiles %} 

{% block title_block %}
	Get Set Pet
{% endblock %}

{% block body_block %}
	<div class="category-body">
	<h1>Categories Page</h1> 
		<div>Choose the category you would like to view!</div>
		<div> 
			{% if categories %} 
				<ul>
				{% for category in categories %}
					{% if pages %}
						{% for page in pages %}
						<img src="{{ MEDIA_URL }}{{ category.img }}" alt = "Picture of "{{ category.name }}</li>
						{% endfor %}
					{% endif %}	

					<a href="/gsp/category/{{ category.slug }}"style="color:blue;">{{ category.name }}</h1></a> 
					</h1>
				{% endfor %}
			
				</ul>	
			{% else %} 
				<strong>There are no categories present.</strong> 
			{% endif %} 
			
		</div>
	</div>
{% endblock %}

		