<!DOCTYPE html> 
{% extends 'gsp/base.html' %}
{% load staticfiles %} 

{% block title_block %}
	Get Set Pet
{% endblock %}

{% block body_block %}
	<div class="category-body">
	<h1>Categories Page</h1> 
		<div>Choose the category you would like to view!</div>
		<div> 
			{% if categories %} 
				<ul>
				{% for category in categories %}
					<li> 
					<a href="/gsp/category/{{ category.slug }}">{{ category.name }}</a> 
					</li> 
				{% endfor %} 
				</ul>
			{% else %} 
				<strong>There are no categories present.</strong> 
			{% endif %} 
		</div>
	</div>
{% endblock %}