 <!DOCTYPE html>
{% extends 'gsp/base.html' %}
{% load staticfiles %}
{% load ratings %}

{% block body_block %}

        <div class = "categorySection">
        <h1> Top Rated </h1>
        <a href="{% url 'top_rated' %}">See More</a>
		</div>
        <div class = "cardunit">
			{% for upload in top_uploads %}
			<div class = "smallcard" id = "myBtn">
				<div class = "smallpet">
					<img src="{{ MEDIA_URL }}{{ upload.picture }}"
					alt="Picture of {{ upload.name }}">
				</div>
				<h1>{{ upload.name }}</h1>
				<br>
				<h4>{{ upload.category }}</h4>
				</div>
			{% endfor %}
		</div>
    <div class = "categorySection">
    <h1> All uploads </h1>
    <a href="{% url 'user_submitted' %}">See More</a>
</div>

<div class = "cardunit">
			{% for upload in newest_uploads %}
			<div class = "smallcard" id = "myBtn">
				<div class = "smallpet">
					<img src="{{ MEDIA_URL }}{{ upload.picture }}"
					alt="Picture of {{ upload.name }}">
				</div>
				<h1>{{ upload.name }}</h1>
				<br>
				<h4>{{ upload.category }}</h4>
				</div>
			{% endfor %}
		</div>

<div class = "categorySection">
<h1> Trending </h1>
<a href="highest.html">See More</a>
</div>
<div class = "cardunit">
<div class = "smallcard" id = "myBtn">
    <div class = "smallpet">
    <img src="{{ MEDIA_URL}}turtle.jpg" alt="Picture of pet">
</div>
    <h1>Harry</h1>
    <br>
    <h4>Turtle</h4>
    <div class = "smallfave">
    <a href="favourites.html"> <img src="{% static "images/Favourite-icon.png" %}"
										alt = "Favourites" /></a>
</div>
</div><div class = "smallcard" id = "myBtn">
    <div class = "smallpet">
    <img src="{{ MEDIA_URL}}rabbit.jpg" alt="Picture of pet">
</div>
    <h1>Hop</h1>
    <br>
    <h4>Rabbit</h4>
    <div class = "smallfave">
    <a href="favourites.html"> <img src="{% static "images/Favourite-icon.png" %}"
										alt = "Favourites" /></a>
    <!-- <button id="myBtn">Open Modal</button> -->
</div>
</div>

</div>
<div class = "categorySection">
<h1> Your Posts </h1>

</div>
</div>

</div>

        <div id = "myModal" class = "card">
            <div class = "petimg">
				<img src="{{ MEDIA_URL }}lab.jpg" alt="Picture of pet">
            </div>
            <div class = "leftdata">
                <h1>Brodie</h1>
                <br>
                <h4>Dog</h4>

            </div>
            <div class = "rightdata">
				<h1>Good boy/10</h1>
                <br>
				<h4>36 Ratings</h4>
            </div>
                <input type="range" min="0" max="10" value="0" step="1" onchange="showValue(this.value)" />
                <span id="range">0</span>


                    <script type="text/javascript">

                    function showValue(newValue)
                    {
    	                   document.getElementById("range").innerHTML=newValue;
                    }
                    </script>

				<br>
                <div class = "favicon">
				<a href=""> <img src="{% static "images/Favourite-icon.png" %}"
										alt = "Favourites" /></a>
            </div>
            <div id = "accept" class = "tickicon">
            <a href=""> <img src="{% static "images/Tick-icon.png" %}"
										alt = "Tick-icon" /></a>
        </div>
            </div>


            <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            var accept = document.getElementById('accept');


            var body = document.getElementById('mainclose');

            // When the user clicks the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            accept.onclick = function(){
                modal.style.display = "none";
            }

            // // When the user clicks on <span> (x), close the modal
            // span.onclick = function() {
            //     modal.style.display = "none";
            // }

            document.onkeyup = function(event) {
                    if (event.key === 27){
                        modal.style.display = "none";
                }}

            // // When the user clicks anywhere outside of the modal, close it
            // window.onclick = function(event) {
            //     if (event.target == modal) {
            //         modal.style.display = "none";
            //     }
            // }
            </script>
{% endblock %}
