{% extends 'gsp/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Login
{% endblock %}
{% block body_block %}
	<div class="form-body">
	<h1>Login to GetSetPet</h1>
	<br>
		<form id="login_form" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<h1 style="color:black;">
				Username: <input type="text" name="username" value="" size="50" />
			</h1>
			<br />
			<h1 style="color:black;">
				Password: <input type="password" name="password" value="" size="50" />
				</h1>
			<br />
			<input id = "tick" type="image" name="submit" value="submit" src = "{% static 'images/tick-icon.png' %}"/>
		</form>
	</div>
{% endblock %}
