{% extends 'gsp/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Register
{% endblock %}
{% block body_block %}
	<h1>About Page</h1>
	<div class="form-body">
	{% if registered %}
		Get Set Pet says: <strong>thank you for registering!</strong>
		<h1 style="color:black;">
		<a href="{% url 'index' %}">Return to the homepage.</a><br />
		</h1>
	{% else %}
		Get Set Pet says: <strong>register here!</strong><br />
		<h1 style="color:black;">
		<form id="user_form" method="post" action="{% url 'register' %}"
			enctype="multipart/form-data">
		</h1>
		{% csrf_token %}

		{{ user_form.as_p }}
		{{ profile_form.as_p }}

		<input type="submit" name="submit" value="Register" />
		</form>
	{% endif %}
	
	</div>
{% endblock %}


		

