<!DOCTYPE html> 
{% extends 'gsp/base.html' %}
{% load staticfiles %} 

{% block title_block %}
	Upload
{% endblock %}
{% block body_block %}
	<!--Checks if a user is logged in, if not they will be asked before viewing this page-->
	{% if user.is_authenticated %}
	{% if uploads %}
	<!--This is based off the html code in index, will (hopefully) display a list of all uploads
		TODO: make it so just the users uploads are shown. Also make it actually work-->
			<div class = "cardunit">
			{% for upload in uploads %}
			<div class = "smallcard" id = "myBtn">
				<div class = "smallpet">
					<img src="{{ MEDIA_URL }}{{ upload.picture }}" 
					alt="Picture of {{ upload.name }}">
				</div>
				<h1>{{ upload.name }}</h1>
				<br>
				<h4>{{ upload.category }}</h4>
				<div class = "smallfave"></div>
		</div>
					{% endfor %}
		</div>
	{% else %}
		<p>No Uploads</p>
	{% endif %}
	<!--Here's the form for uploading a new picture-->
	<div class="form-body">
		<form id="upload_form" method="post" action="{% url 'upload' %}"
			enctype="multipart/form-data">
		{% csrf_token %}
		<h1 style="color:black;">
		{{ upload_form.as_p }}
		</h1>
		
		<input type="submit" name="submit" value="Upload" />
	</div>
	{% else %}
	<h1 style="color:black;">
		<p>You are not Signed in. 
		<br>Please Sign in or Sign up before uploading.
		</h1>
		</p>
	{% endif %}
{% endblock %}
	
		
		
		
<h1 style="color:black;"></h1>